<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="username" value="rajan"/>
  <parameter name="password" value="rajan@123"/>
  <groups>
   <run>
     <exclude name="sanity"/>
   </run>
  </groups>
    <classes>
      <class name="com.flipkart.stepdefinition.MobilePurchase"/>
      <class name="com.flipkart.stepdefinition.TVPurchase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
